<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <h:head></h:head>
    <h:body>
        <p:dialog visible="true" width="450" height="175" header="Acessar o Sistema" showHeader="false" modal="true" resizable="false">            
            <h:panelGrid style="margin: 0 auto;">
                <h:outputText styleClass="fa fa-lock fa-5x"/></h:panelGrid>
            <h:form>
                <p:messages id="messages" />
                <p:panelGrid columns="2">
                    <p:outputLabel for="nomeUsuario" value="Nome Usuário:" />
                    <p:inputText id="nomeUsuario" value="#{LoginBean.user.name}" />

                    <p:outputLabel for="senha" value="Senha:" />
                    <p:password id="senha" value="#{LoginBean.user.password}" />
                    <p:commandButton value="Login"  icon="ui-icon-star" action="#{LoginBean.login}" ajax="false"></p:commandButton>

                </p:panelGrid>
            </h:form>
        </p:dialog>
    </h:body>    
</html>