<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:p="http://primefaces.org/ui"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:form>  
        <p:growl id="messages"/>

        <p:menubar>
            <p:submenu label="Usuários" icon="pi pi-file">                
                <p:menuitem value="Listar" url="#{request.contextPath}/faces/userList.xhtml" />
                <p:separator />
                <p:menuitem value="Novo" url="#{request.contextPath}/faces/userNew.xhtml" />
            </p:submenu>           
        </p:menubar>
    </h:form>
</ui:composition>