<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

    <h:head>

    </h:head>

    <h:body>
        <ui:include src="menu.xhtml" />

        <h:form>
            <p:panelGrid columns="2">
                <p:outputLabel for="name" value="Nome"/>
                <p:inputText id="name" value="#{usersBean.userNew.name}"/>

                <p:outputLabel for="email" value="E-mail" />
                <p:inputText id="email"  value="#{usersBean.userNew.email}"/>

                <p:outputLabel for="password" value="Senha"/>
                <p:password id="password" value="#{usersBean.userNew.password}"/>

                <p:outputLabel for="confirm_password" value="Confirmar Senha"/>
                <p:password id="confirm_password" />
                <p:commandButton value="Salvar"  icon="ui-icon-star" action="#{usersBean.save}" ajax="false" update="userNew"></p:commandButton>
            </p:panelGrid>

        </h:form>
    </h:body>
</html>